In [1]:
import pandas as pd
import numpy as np
import kagglehub

path = kagglehub.dataset_download("asaniczka/tmdb-movies-dataset-2023-930k-movies")

# Loading the TMDB Dataset

In [2]:
tmdbDF = pd.read_csv("/kaggle/input/tmdb-movies-dataset-2023-930k-movies/TMDB_movie_dataset_v11.csv")
tmdbDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1136234 entries, 0 to 1136233
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1136234 non-null  int64
 1   title                 1136221 non-null  object
 2   vote_average          1136234 non-null  float64
 3   vote_count            1136234 non-null  int64
 4   status                1136234 non-null  object
 5   release_date          949444 non-null   object
 6   revenue               1136234 non-null  int64
 7   runtime               1136234 non-null  int64
 8   adult                 1136234 non-null  bool
 9   backdrop_path         301565 non-null   object
 10  budget                1136234 non-null  int64
 11  homepage              120392 non-null   object
 12  imdb_id               602573 non-null   object
 13  original_language     1136234 non-null  object
 14  original_title        1136221 non-null  object
 15  overview              905837 non-null   object
 16  popularity            1136234 non-null  float64
 17  poster_path           777839 non-null   object
 18  tagline               159300 non-null   object
 19  genres                680825 non-null   object
 20  production_companies  512793 non-null   object
 21  production_countries  632929 non-null   object
 22  spoken_languages      652062 non-null   object
 23  keywords              307943 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 200.5+ MB

In [3]:
tmdbDF.isnull().sum()

id                            0
title                        13
vote_average                  0
vote_count                    0
status                        0
release_date             186790
revenue                       0
runtime                       0
adult                         0
backdrop_path            834669
budget                        0
homepage                1015842
imdb_id                  533661
original_language             0
original_title               13
overview                 230397
popularity                    0
poster_path              358395
tagline                  976934
genres                   455409
production_companies     623441
production_countries     503305
spoken_languages         484172
keywords                 828291
dtype: int64

In [4]:
tmdbDF

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1136229,732895,200 Cigarettes from Now,0.000,0,Released,2021-06-02,0,45,False,NaN,...,200 Cigarettes from Now,"Fall 2019, Xia gaps from college and moves to ...",0.600,/ecNNCEVrLJoA3crnimvSuAOw1AD.jpg,NaN,"Comedy, Drama, Romance",NaN,"China, United States of America","Cantonese, Mandarin",NaN
1136230,732896,Dear Aunt Noa,0.000,0,Released,NaN,0,11,False,NaN,...,Dear Aunt Noa,A transgender environmentalist from LA and a s...,0.600,/3apMpTgBZhKa9PfikUJjL4hon2I.jpg,NaN,NaN,NaN,NaN,NaN,NaN
1136231,732897,"Aye, Boy",0.000,0,Released,2020-09-17,0,19,False,NaN,...,"Aye, Boy",In this coming-of-age story inspired by true e...,0.600,/tFxO95u5pENsCXpWhBeViWtAtNk.jpg,NaN,NaN,NaN,NaN,NaN,NaN
1136232,732898,The Turtles,0.000,0,Released,2021-12-04,0,15,False,NaN,...,The Turtles,When the introverted Emma meets the bubbly Jea...,0.600,/mjJr5WYKLSArB8N7KY8iiIKctFt.jpg,NaN,Comedy,NaN,United Kingdom,English,NaN
1136233,1391127,Psycho Lovers,0.000,0,Released,NaN,0,0,False,NaN,...,Psycho Lovers,NaN,0.650,/hO5MuddCPHDX58gPw2gR4Hp2lFC.jpg,NaN,NaN,NaN,NaN,NaN,NaN

# Getting the IMDB Datasets

'\N' means NULL for features information you can visit: https://developer.imdb.com/non-commercial-datasets/

In [5]:
name=pd.read_csv("https://datasets.imdbws.com/name.basics.tsv.gz", compression='gzip', sep='\t', header=0)
name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13968593 entries, 0 to 13968592
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 639.4+ MB

In [6]:
name

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"
...,...,...,...,...,...,...
13968588,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
13968589,nm9993716,Essias Loberg,\N,\N,\N,\N
13968590,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
13968591,nm9993718,Aayush Nair,\N,\N,cinematographer,tt8736744
13968592,nm9993719,Andre Hill,\N,\N,\N,\N

In [7]:
crew=pd.read_csv("https://datasets.imdbws.com/title.crew.tsv.gz", compression='gzip', sep='\t', header=0)
crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10591918 entries, 0 to 10591917
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 242.4+ MB

In [8]:
crew

,tconst,directors,writers
0,tt0000001,nm0005690,\N
1,tt0000002,nm0721526,\N
2,tt0000003,nm0721526,\N
3,tt0000004,nm0721526,\N
4,tt0000005,nm0005690,\N
...,...,...,...
10591913,tt9916848,nm1485677,"nm9187127,nm1485677,nm9826385,nm9299459,nm1628284"
10591914,tt9916850,nm1485677,"nm9187127,nm1485677,nm9826385,nm1628284"
10591915,tt9916852,nm1485677,"nm9187127,nm1485677,nm9826385,nm9299459,nm1628284"
10591916,tt9916856,nm10538645,nm6951431
10591917,tt9916880,nm0996406,"nm1482639,nm2586970"

### Creating a dictionary from the name dataset of nconst and primaryName

In [9]:
name_dict = dict(zip(name['nconst'], name['primaryName']))

### Replacing the nconst with their respective primaryName in crew dataset

In [10]:
crew['writers'] = crew['writers'].apply(lambda x: x.split(','))
crew['writers'] = crew['writers'].apply(lambda writers: [np.nan if w.strip() == '\\N' else w.strip() for w in writers])
crew['writers'] = crew['writers'].apply(lambda writers: [name_dict.get(w, np.nan) for w in writers])
crew['writers'] = crew['writers'].apply(lambda writers: ', '.join([str(w) if pd.notna(w) else '' for w in writers]) if writers else np.nan)

crew

,tconst,directors,writers
0,tt0000001,nm0005690,
1,tt0000002,nm0721526,
2,tt0000003,nm0721526,
3,tt0000004,nm0721526,
4,tt0000005,nm0005690,
...,...,...,...
10591913,tt9916848,nm1485677,"Yelda Acikgoz, Hamdi Alkan, Birol Elginöz, Nur..."
10591914,tt9916850,nm1485677,"Yelda Acikgoz, Hamdi Alkan, Birol Elginöz, Bir..."
10591915,tt9916852,nm1485677,"Yelda Acikgoz, Hamdi Alkan, Birol Elginöz, Nur..."
10591916,tt9916856,nm10538645,Johan Planefeldt
10591917,tt9916880,nm0996406,"Lucinda Whiteley, Francesca Simon"

In [11]:
crew['directors'] = crew['directors'].apply(lambda x: x.split(','))
crew['directors'] = crew['directors'].apply(lambda directors: [np.nan if d.strip() == '\\N' else d.strip() for d in directors])
crew['directors'] = crew['directors'].apply(lambda directors: [name_dict.get(d, np.nan) for d in directors])
crew['directors'] = crew['directors'].apply(lambda directors: ', '.join([str(d) if pd.notna(d) else '' for d in directors]) if directors else np.nan)

crew

,tconst,directors,writers
0,tt0000001,William K.L. Dickson,
1,tt0000002,Émile Reynaud,
2,tt0000003,Émile Reynaud,
3,tt0000004,Émile Reynaud,
4,tt0000005,William K.L. Dickson,
...,...,...,...
10591913,tt9916848,Hamdi Alkan,"Yelda Acikgoz, Hamdi Alkan, Birol Elginöz, Nur..."
10591914,tt9916850,Hamdi Alkan,"Yelda Acikgoz, Hamdi Alkan, Birol Elginöz, Bir..."
10591915,tt9916852,Hamdi Alkan,"Yelda Acikgoz, Hamdi Alkan, Birol Elginöz, Nur..."
10591916,tt9916856,Johan Planefeldt,Johan Planefeldt
10591917,tt9916880,Hilary Audus,"Lucinda Whiteley, Francesca Simon"

In [12]:
crew.isnull().sum()

tconst       0
directors    0
writers      0
dtype: int64

# Merging the TMDb and IMDb (crew) datasets

In [13]:
tmdbDF=tmdbDF.rename(columns={'imdb_id': 'tconst'})
df=pd.merge(tmdbDF, crew, on='tconst')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598228 entries, 0 to 598227
Data columns (total 26 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    598228 non-null  int64
 1   title                 598228 non-null  object
 2   vote_average          598228 non-null  float64
 3   vote_count            598228 non-null  int64
 4   status                598228 non-null  object
 5   release_date          551973 non-null  object
 6   revenue               598228 non-null  int64
 7   runtime               598228 non-null  int64
 8   adult                 598228 non-null  bool
 9   backdrop_path         207086 non-null  object
 10  budget                598228 non-null  int64
 11  homepage              70110 non-null   object
 12  tconst                598228 non-null  object
 13  original_language     598228 non-null  object
 14  original_title        598228 non-null  object
 15  overview              521796 non-null  object
 16  popularity            598228 non-null  float64
 17  poster_path           458049 non-null  object
 18  tagline               107374 non-null  object
 19  genres                449193 non-null  object
 20  production_companies  333069 non-null  object
 21  production_countries  414338 non-null  object
 22  spoken_languages      419170 non-null  object
 23  keywords              206912 non-null  object
 24  directors             598228 non-null  object
 25  writers               598228 non-null  object
dtypes: bool(1), float64(2), int64(5), object(18)
memory usage: 114.7+ MB

In [14]:
df.isnull().sum()

id                           0
title                        0
vote_average                 0
vote_count                   0
status                       0
release_date             46255
revenue                      0
runtime                      0
adult                        0
backdrop_path           391142
budget                       0
homepage                528118
tconst                       0
original_language            0
original_title               0
overview                 76432
popularity                   0
poster_path             140179
tagline                 490854
genres                  149035
production_companies    265159
production_countries    183890
spoken_languages        179058
keywords                391316
directors                    0
writers                      0
dtype: int64

In [15]:
df

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords,directors,writers
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",Christopher Nolan,Christopher Nolan
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan"
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Go..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",James Cameron,James Cameron
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",Joss Whedon,"Joss Whedon, Zak Penn"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598223,732895,200 Cigarettes from Now,0.000,0,Released,2021-06-02,0,45,False,NaN,...,0.600,/ecNNCEVrLJoA3crnimvSuAOw1AD.jpg,NaN,"Comedy, Drama, Romance",NaN,"China, United States of America","Cantonese, Mandarin",NaN,Tianyu Ma,
598224,732896,Dear Aunt Noa,0.000,0,Released,NaN,0,11,False,NaN,...,0.600,/3apMpTgBZhKa9PfikUJjL4hon2I.jpg,NaN,NaN,NaN,NaN,NaN,NaN,Dana Aliya Levinson,Michael Armstrong Barr
598225,732897,"Aye, Boy",0.000,0,Released,2020-09-17,0,19,False,NaN,...,0.600,/tFxO95u5pENsCXpWhBeViWtAtNk.jpg,NaN,NaN,NaN,NaN,NaN,NaN,My-Hanh Lac,My-Hanh Lac
598226,732898,The Turtles,0.000,0,Released,2021-12-04,0,15,False,NaN,...,0.600,/mjJr5WYKLSArB8N7KY8iiIKctFt.jpg,NaN,Comedy,NaN,United Kingdom,English,NaN,Maya Witters,Maya Witters
598227,1391127,Psycho Lovers,0.000,0,Released,NaN,0,0,False,NaN,...,0.650,/hO5MuddCPHDX58gPw2gR4Hp2lFC.jpg,NaN,NaN,NaN,NaN,NaN,NaN,Sergio Hogosha,Sergio Hogosha

# Getting IMDb Ratings Dataset and then merging it with df

In [16]:
rating=pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz",  compression='gzip', sep='\t', header=0)
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502234 entries, 0 to 1502233
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1502234 non-null  object
 1   averageRating  1502234 non-null  float64
 2   numVotes       1502234 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 34.4+ MB

In [17]:
rating.isnull().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [18]:
rating

            tconst  averageRating  numVotes
0        tt0000001            5.7      2102
1        tt0000002            5.6       282
2        tt0000003            6.5      2121
3        tt0000004            5.4       182
4        tt0000005            6.2      2852
...            ...            ...       ...
1502229  tt9916730            7.0        12
1502230  tt9916766            7.1        24
1502231  tt9916778            7.2        37
1502232  tt9916840            6.9        11
1502233  tt9916880            7.9         9

[1502234 rows x 3 columns]

In [19]:
df = pd.merge(df, rating, on="tconst")

In [20]:
df.isnull().sum()

id                           0
title                        0
vote_average                 0
vote_count                   0
status                       0
release_date             17782
revenue                      0
runtime                      0
adult                        0
backdrop_path           248868
budget                       0
homepage                378354
tconst                       0
original_language            0
original_title               0
overview                 41103
popularity                   0
poster_path              74041
tagline                 341529
genres                   76956
production_companies    170266
production_countries    110852
spoken_languages        100920
keywords                261738
directors                    0
writers                      0
averageRating                0
numVotes                     0
dtype: int64

In [21]:
df

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,tagline,genres,production_companies,production_countries,spoken_languages,keywords,directors,writers,averageRating,numVotes
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",Christopher Nolan,Christopher Nolan,8.8,2615386
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan",8.7,2201149
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Go...",9.0,2947414
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",James Cameron,James Cameron,7.9,1409370
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",Joss Whedon,"Joss Whedon, Zak Penn",8.0,1484059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432472,732887,Glimmer,0.000,0,Released,2019-06-16,0,18,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Arianna Basco,Arianna Basco,4.6,14
432473,732877,Detective,0.000,0,Released,2020-08-14,0,115,False,/1guq87UwZ1sQKzBLrUVF5Grq5eS.jpg,...,Based on a story by Rabindranath Tagore,"Thriller, Comedy",SVF Entertainment,India,Bengali,detective,Joydip Mukherjee,,4.6,353
432474,732893,Sang d'Encre,0.000,0,Released,2012-11-06,0,0,False,/nD7nPMg0heYzItc25eMDO4bmfKi.jpg,...,NaN,Animation,ESIA 3D Bellecour,France,No Language,short film,"Tom Gouill, Jeoffrey Lavanche, Mélanie Tournois","Tom Gouill, Jeoffrey Lavanche, Mélanie Tournois",6.3,22
432475,732895,200 Cigarettes from Now,0.000,0,Released,2021-06-02,0,45,False,NaN,...,NaN,"Comedy, Drama, Romance",NaN,"China, United States of America","Cantonese, Mandarin",NaN,Tianyu Ma,,7.0,7
432476,1391127,Psycho Lovers,0.000,0,Released,NaN,0,0,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Sergio Hogosha,Sergio Hogosha,9.1,8

In [22]:
df.to_csv('/kaggle/working/TMDB + IMDB Movies Dataset.csv', index=False)

print("Dataset saved as TMDB + IMDB Movies Dataset.csv")

Dataset saved as TMDB + IMDB Movies Dataset.csv

# Automating the process of updating the dataset Daily

In [23]:
import json
from kaggle_secrets import UserSecretsClient
import os
from datetime import datetime

current_date = datetime.now().strftime('%Y-%m-%d')

user_secrets = UserSecretsClient()
username = user_secrets.get_secret("KAGGLE_USERNAME")
key = user_secrets.get_secret("KAGGLE_KEY")
kaggle_json = user_secrets.get_secret("kaggle-json")

with open("/root/.kaggle/kaggle.json", "w") as f:
    f.write(kaggle_json)

os.environ['KAGGLE_USERNAME'] = username
os.environ['KAGGLE_KEY'] = key

In [24]:
import kaggle
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [25]:
dataset = 'ggtejas/tmdb-imdb-merged-movies-dataset'
metadata_path = '/kaggle/working/dataset-metadata.json'

In [26]:
metadata = {'id': 'ggtejas/tmdb-imdb-merged-movies-dataset',
 'resources': [{'path': 'TMDB + IMDB Movies Dataset.csv',
   'description': 'A CSV file containing over 400K records with movie details. It includes information from both TMDb and IMDb databases.',
   'schema': {'fields': [{'name': 'id',
      'title': 'Unique identifier for each movie in the dataset.',
      'type': 'id'},
     {'name': 'title',
      'title': 'The movie title in English.',
      'type': 'string'},
     {'name': 'vote_average',
      'title': 'The average vote score from TMDb users.',
      'type': 'float'},
     {'name': 'vote_count',
      'title': 'Total number of votes cast for the movie on TMDb.',
      'type': 'integer'},
     {'name': 'status',
      'title': 'Indicates whether the movie is released, in production, or in post-production.',
      'type': 'string'},
     {'name': 'release_date',
      'title': 'Official release date of the movie in yyyy-mm-dd format.',
      'type': 'date'},
     {'name': 'revenue',
      'title': 'Total earnings generated by the movie.',
      'type': 'integer'},
     {'name': 'runtime',
      'title': 'Duration of the movie in minutes.',
      'type': 'integer'},
     {'name': 'adult',
      'title': 'Indicates whether the movie is rated for adults (True/False).',
      'type': 'boolean'},
     {'name': 'backdrop_path',
      'title': 'URL path for the movie’s backdrop image (useful for API requests).',
      'type': 'string'},
     {'name': 'budget',
      'title': 'Total production budget of the movie.',
      'type': 'integer'},
     {'name': 'homepage',
      'title': 'Official website of the movie, if available.',
      'type': 'url'},
     {'name': 'tconst',
      'title': 'IMDb-specific identifier for the movie.',
      'type': 'string'},
     {'name': 'original_language',
      'title': 'The original language in which the movie was produced.',
      'type': 'string'},
     {'name': 'original_title',
      'title': 'The title of the movie in its original language.',
      'type': 'string'},
     {'name': 'overview',
      'title': 'Brief summary or plot description of the movie.',
      'type': 'string'},
     {'name': 'popularity',
      'title': 'Popularity score based on TMDb analytics.',
      'type': 'float'},
     {'name': 'poster_path',
      'title': 'URL path for the movie poster image (useful for API requests).',
      'type': 'string'},
     {'name': 'tagline', 'title': "The movie's tagline.", 'type': 'string'},
     {'name': 'genres',
      'title': 'List of genres the movie falls under (e.g., Action, Drama, Comedy).',
      'type': 'string'},
     {'name': 'production_companies',
      'title': 'List of companies that produced the movie.',
      'type': 'string'},
     {'name': 'production_countries',
      'title': 'List of countries where the movie was produced.',
      'type': 'string'},
     {'name': 'spoken_languages',
      'title': 'List of languages spoken in the movie.',
      'type': 'string'},
     {'name': 'keywords',
      'title': 'Keywords associated with the movie, used for categorization or search.',
      'type': 'string'},
     {'name': 'directors',
      'title': 'List of directors of the movie.',
      'type': 'string'},
     {'name': 'writers',
      'title': 'List of writers who contributed to the screenplay.',
      'type': 'string'},
     {'name': 'averageRating',
      'title': 'Average rating of the movie on IMDb.',
      'type': 'float'},
     {'name': 'numVotes',
      'title': 'Number of votes the movie received on IMDb.',
      'type': 'float'}]}}]}

with open(metadata_path, 'w', encoding='utf-8') as metadata_file:
    json.dump(metadata, metadata_file, indent=4)

In [ ]:
message = f"{current_date} - Update"

!kaggle datasets version -p /kaggle/working -m "{message}" -r skip